@model Recipe
<div class="card card-body">
    <div class="row">
        <h5 class="card-title">Add New Recipe</h5>
    </div>
    <div class="row">
        @using (Html.BeginForm(FormMethod.Get, true, htmlAttributes: new { @class = "card-body", id = "addForm" }))
        {
            <div class="input-group mb-3 row">
                @Html.LabelFor(model => model.Title, "Recipe Title", new {@class="col-auto"})
                @Html.TextBoxFor(model => model.Title, new { onInput="refreshPreview();", id="AddTitle", @class="col" }) <br />
            </div>

            <div class="input-group mb-3 row">
                @Html.LabelFor(model => model.Description, "Description", new {@class="col-auto"})
                @Html.TextBoxFor(model => model.Description, new { onInput="refreshPreview();", id="AddDescription", @class="col"})
            </div>

            <div class="input-group mb-3 row">
                @Html.LabelFor(model => model.ImageUrl, "Image URL", new {@class="col-auto"})
                <div class="col row g-0">
                    @Html.TextBoxFor(model => model.ImageUrl, new { onInput="updateIcon(); refreshPreview();", id="addImageUrl", @class="col"})
                <img id="addImageImg" src="@(!string.IsNullOrWhiteSpace(Model.ImageUrl) ? Model.ImageUrl : "./favicon.ico")" class="img-fluid col-auto" />
                </div>
            </div>

            <div class="input-group mb-3 row">
                @Html.LabelFor(model => model.Instructions, "Instructions", new {@class="col-auto"})
                @Html.TextAreaFor(model => model.Instructions, new { onInput="refreshPreview();", id="AddInstructions", @class="col"})
            </div>

            <div class="card g-0">
                <partial name="_IngredientAdderList" , model=@Model.Ingredients />
            </div>

            <input type="submit" name="Create" value="Add" class="btn btn-primary" />
            <input type="reset" class="btn btn-secondary" />
            <button type="button" class="btn btn-secondary" onclick="clearForm($('#addForm'))">Clear</button>



            <br />
            <span>Preview:</span>
            <br />
            <button type="button" class="btn btn-secondary" onclick="refreshPreview()">Refresh Preview</button>

            <div id="addRecipePreview">
            </div>
        }
    </div>
</div>

<script>
    function updateIcon(){
        //In a production environment I'd probably build a separate event for all of these.
        var newImageUrl = $('#addImageUrl').val();
        newImageUrl = !!newImageUrl ? newImageUrl : "./favicon.ico";
        $('#addImageImg').attr('src', newImageUrl);
    }

    function refreshPreview(){
        var previewData = $("#addForm").serialize();

        $.ajax({
            url: "/Recipe/Preview/",
            type: "GET",
            data: previewData
        })
        .done(function(resultingView){
            $("#addRecipePreview").html(resultingView);
        });
    }
</script>